<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .back-btn {
            color: blue;
        }

        .back-btn:hover {
            color: black;
            text-decoration: none;
        }

        .select-dropdown {
            width: 25%;
        }

        @media (max-width: 576px) {
            .select-dropdown {
                width: 100%;
            }
        }
    </style>
</head>

<body class="bg-light p-1" style="font-family: 'Manrope', sans-serif;">
    <div class="row justify-content-center mt-1 ml-1 mr-1" style="min-width: 100; min-height: 25px;">
        <div class="col-12 col-sm-11 col-md-7">
            <a class="btn btn-link shadow-sm mt-3 bg-white back-btn" href="/">Back</a>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center mt-2 ml-1 mr-1">
        <div class="col-12 col-sm-11 col-md-6 shadow-sm bg-white rounded-lg">
            <form action="/" method="POST">
                <div class="form-group mt-2 mb-2">
                    <!-- <input type="text" class="form-control" placeholder="Enter your name" name="name"
                        id="nameY"></input> -->
                    <select class="form-control select-dropdown" id="sel1" placeholder="Enter your name" name="name">
                        <option>Naman</option>
                        <option>Kushagra</option>
                    </select>
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="adding-new-short-story">Write your story here</label>
                    <textarea id="editor" name="editor"></textarea>
                </div>
                <button class="btn btn-secondary float-right shadow-sm mt-2 mb-2" type="submit">Save</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3 ml-1 mr-1">
        <img src="infinity.png" class="img-fluid" alt="logo">
        <!-- <p class="h1 m-0"> .infinite_stories</p> -->
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.14.0/standard-all/ckeditor.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        CKEDITOR.replace('editor', {
            toolbar: [
                ['Bold', 'Italic', 'Underline', 'Strike', 'TextColor', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink']
            ]
        });
    </script>
</body>

</html>